
    <style>
        /* Estilos generales para centrar el contenedor */
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Abarca toda la altura de la ventana */
            margin: 0;
            background-color: #f0f0f0;
        }
        .textbox-container {
            width: 80%;
            max-width: 600px;
           position: relative;
            top: 50px;
            left: 750px;
        }
        textarea {
            width: 100%;
            height: 200px;
            padding: 10px;
            font-size: 16px;
            border-radius: 10px;
            border: 2px solid #ccc;
            resize: none; /* Deshabilita el redimensionamiento manual */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
